@model IEnumerable<BettingApplication.Models.TwoPlayersViewModel>

<table class="table">
    <thead>
        <tr>
            <th>
                First player
            </th>
            <th>
                Second player
            </th>
            <th>
                1
            </th>
            <th>
                2
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @using (Html.BeginForm("BetTwoPlayer", "BetSlips", new { matchId = item.Id, top=false }, FormMethod.Post))
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstPlayer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondPlayer)
            </td>
            <td>
                @if (item._1 > 1)
                {
                <button type="submit" id=@item.Id , name="type" value="1" class="btn btn-primary">@item._1</button>
                }
            </td>
            <td>
                @if (item._2 > 1)
                {
                <button type="submit" id=@item.Id , name="type" value="2" class="btn btn-primary">@item._2</button>
                }
            </td>
        </tr>
            }

        }
    </tbody>
</table>
