@model IEnumerable<Aplikacija_za_kladenje.Models.UserTransactions>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Payment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transactions)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Payment) kn
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Transactions)
            </td>
            
        </tr>
}
    </tbody>
</table>
