@model IEnumerable<BettingApplication.Models.Sport>

@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        background-color: #121212;
        color: white;
    }

    th {
        color: white;
    }

    td {
        color: white;
    }
</style>
<h1>Add</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Sport name
            </th>
            <th>
                League name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @using (Html.BeginForm("Add", "League", new { }, FormMethod.Post))
        {
            <tr>
                <td>
                    @{
                        string temp = null;
                    }
                    <select name="sport" id="0">
                        <option value="0">Select Sport</option>
                        @{
                            foreach (var item in Model)
                            {
                                @if (@temp != item.Name)
                                {
                                    <option value="@item.Name">@item.Name</option>
                                }
                                temp = item.Name;
                            }
                        }
                    </select>
                </td>
                <td>
                    <input type="text" name="name" class="form-control" placeholder="Name" />
                </td>
                <td>
                    <input type="submit" value="Create league" class="btn btn-primary" />
                </td>
                <td>
                    <a class="btn btn-outline-dark" asp-action="Index">Back to List</a>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                    <td>
                        <input type="button" class="btn btn-outline-primary btnSize" value="Add Sport" onclick="location.href='@Url.Action("Create", "Sport")'" />
                    </td>
            </tr>
        }
    </tbody>
</table>
