@model IEnumerable<Aplikacija_za_kladenje.Models.MatchViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Matches</h1>


@if (Model != null)
{

<table class="table">
    <thead>
        <tr>
            
            <th>
                Home Team
            </th>
            <th>
                Away Team
            </th>
            <th>
                1
            </th>
            <th>
                X
            </th>
            <th>
                2
            </th>
            <th>
                1X
            </th>
            <th>
                X2
            </th>
            <th>
                12
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            @using (Html.BeginForm("Bet", "BetSlips", new { MatchId = item.Id, top=false }, FormMethod.Post))
            {
        <tr>

            <td>
                @item.HomeTeamName
            </td>
            <td>
                @item.AwayTeamName
            </td>
            <td>
                @if (item._1 != 0)
                {
                    <input type="submit" id=@item.Id , name="value" value=@item._1 class="btn btn-primary">
                }
            </td>
            <td>
                @if (item._X != 0)
                {
                    <input type="submit" id=@item.Id name="value" value=@item._X class="btn btn-primary">
                }
            </td>
            <td>
                @if (item._2 != 0)
                {
                    <input type="submit" id=@item.Id name="value" value=@item._2 class="btn btn-primary">
                }
            </td>
            <td>
                @if (item._1X != 0)
                {
                    <input type="submit" id=@item.Id name="value" value=@item._1X class="btn btn-primary">
                }
            </td>
            <td>
                @if (item._X2 != 0)
                {
                    <input type="submit" id=@item.Id name="value" value=@item._X2 class="btn btn-primary">
                }
            </td>
            <td>
                @if (item._12 != 0)
                {
                    <input type="submit" id=@item.Id name="value" value=@item._12 class="btn btn-primary">
                }
            </td>

        </tr>
            }

        }
    </tbody>
</table>
}
