@model Aplikacija_za_kladenje.Models.Types

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Types</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="_1" class="control-label"></label>
                <input asp-for="_1" class="form-control" />
                <span asp-validation-for="_1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="_X" class="control-label"></label>
                <input asp-for="_X" class="form-control" />
                <span asp-validation-for="_X" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="_2" class="control-label"></label>
                <input asp-for="_2" class="form-control" />
                <span asp-validation-for="_2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="_1X" class="control-label"></label>
                <input asp-for="_1X" class="form-control" />
                <span asp-validation-for="_1X" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="_X2" class="control-label"></label>
                <input asp-for="_X2" class="form-control" />
                <span asp-validation-for="_X2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="_12" class="control-label"></label>
                <input asp-for="_12" class="form-control" />
                <span asp-validation-for="_12" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

