@{
    ViewData["Title"] = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        background-color: #121212;
        color: white;
    }

    th {
        color: white;
    }

    td {
        color: white;
    }
</style>
    <h1>
        @ViewBag.ErrorTitle<br>
        @ViewBag.ErrorMessage
    </h1>

